@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.btn{
  transition: all 0.2s;
}
.borderHover{
  transition: all 0.3s;
}
/* .scrollbar::-webkit-scrollbar{
  display: none;
} */


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media(max-width:575px){
  .cardFooter{
    display: flex;
    flex-direction: column;
    gap:5px !important;
    align-items: center;
    margin-top: 5%;
  }
}
@media(max-width:520px){
  .navHeading{
    font-size: 21px !important;
  }
  .navBtn{
    font-size: 16px;
    width: 100px !important;
  }
}
@media(max-width:430px){
  .btnDiv{
    gap: 7px !important;
  }
  .nav{
    padding-right: 4% !important;
    padding-left: 4% !important;
  }
  .navHeading{
    font-size: 19px;
  }
  .navBtn{
    font-size: 15px;
    width: 80px !important;
  }
  .quoteCard{
    width: 85% !important;
  }
}